################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/SpriteGrabber/bin
/SpriteGrabber/obj
/SprinterMNG/bin
/SprinterMNG/obj